.App {
  font-family: sans-serif;
}
.App .weather-app {
  margin: 0 auto;
  padding: 3em 2em;
  color: white;
  background-image: url("images/mountain-landscape.jpg");
  max-width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 820px) {
}

@media screen and (min-width: 700px) {
  .App .weather-app {
    margin-block: 40px;
    border-radius: 8px;
    box-shadow: 0.3em 0.5em 0.5em #00000094;
  }
}
