.Forecast {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.forecast-item {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: 600;

  align-items: center;
  text-align: center;
}

.min-temp {
  opacity: 0.5;
}

@media (min-width: 735px) {
  .Forecast {
    flex-direction: row;
  }
  .forecast-item {
    flex-direction: column;
    padding-inline: 1rem;
    margin-inline: 5%;
  }
}

@media (max-width: 320px) {
  .forecast-item .humidity,
  .forecast-item .temp {
    font-size: 0.8rem;
  }
}
