.Forecast {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.WeekdayForecast .row {
  align-items: center;
}
.WeekdayForecast {
  font-size: 1.2em;
  text-align: left;
  font-weight: 600;
  margin-inline: 5%;
  padding-inline: 5%;

  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.WeekdayForecast .weather-icon {
  margin: -10%;
}

.min-temp {
  opacity: 0.5;
}

@media (max-width: 560px) {
  .WeekdayForecast {
    font-size: 0.8em;
    padding-inline: 2%;
  }
  .WeekdayForecast .weather-icon {
    max-width: 7em;
  }

  .WeekdayForecast .col {
    padding: 2%;
  }
}

@media (max-width: 520px) {
  .WeekdayForecast .weather-icon {
    max-width: 5em;
  }
}

@media (max-width: 360px) {
  .WeekdayForecast .weather-icon {
    max-width: 3em;
  }
}
@media (max-width: 250px) {
  .WeekdayForecast .temp {
    font-size: 0.7em;
  }
} ;
