.Weather {
  padding-inline: 2em;
}
.Weather .temp {
  font-size: 2em;
  font-weight: 300;
}

.Weather bold {
  font-weight: bold;
  font-size: 1.6em;
}
.Weather h1 {
  font-size: 1.6em;
  font-weight: bold;
}
.Weather .today {
  font-size: 1.4em;
  padding-block: 2%;
}

.Weather .todays-icon {
  margin-inline: -1em;
  margin-top: -2em;
}

@media (max-width: 550px) {
  .Weather .split-weather {
    flex-direction: column;
  }
  .Weather {
    text-align: center;
  }
}
