.Weather {
  padding-inline: 2em;
}

.weather-background {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/533/422/non_2x/landscape-nature-with-grass-field-pine-trees-and-mountains-vector.jpg");
  background-size: cover;
  padding: 3em 2em;
  color: white;
  font-weight: 700;
}
.Weather .temp {
  font-size: 2em;
  font-weight: 700;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 1.6em;
}

.Weather .units {
  font-size: 0.8em;
}

.Weather a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.Weather h1 {
  font-size: 1.6em;
  font-weight: bold;
}
.Weather .today {
  font-size: 1.4em;
  padding-block: 2%;
}

.Weather .todays-icon {
  margin-inline: -1em;
  margin-top: -2em;
}

.WeatherInfo .row {
  align-items: center;
}
.WeatherInfo .temp-col {
  text-align: center;
}
@media (max-width: 650px) {
  .Weather .split-weather {
    flex-direction: column;
  }
  .Weather {
    text-align: center;
  }
}

form {
  display: flex;
  justify-content: center;
  margin-block: 5%;
}
.Search input,
.Search button {
  margin-inline: 1%;
  box-shadow: 0.3em 0.5em 0.5em #00000094;
  border-radius: 8px;
  border: none;
  min-height: 2.5em;
}
.Search button {
  background-color: #139480;
}
.Search button:hover {
  background-color: #27bea8;
}

@media (min-width: 800px) {
  .WeatherInfo {
    max-width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .Weather .today,
  .Weather .weather-data {
    font-size: 0.9em;
  }
  .weather-background {
    padding: 0.5em;
  }
}
